@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/variables";

@import "mixins";
@import "variables";

@import "bootstrap/scss/bootstrap";


.container {
    max-width: 1160px;
}

img {
    max-width: 100%;
    height: auto;
}