.Welcome {
    padding: 10rem 0;
    h1 {
        font-size: 50px;
        font-weight: 900;
        letter-spacing: 0.1rem;
        text-align: center;
    }
    h2 {
        font-weight: 600;
        letter-spacing: 0.4rem;
        text-align: center;
    }
}